@import url(../fonts/fonts.css);
* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

html, body {
  margin: 0;
  padding: 0; }

h1, h2, h3, h4, h5, h6, p, ul, li, figure {
  margin: 0;
  padding: 0; }

ul {
  list-style: none; }

a {
  text-decoration: none;
  color: inherit; }

.container {
  max-width: 1080px;
  padding: 0 15px;
  margin: 0 auto; }
  @media screen and (max-width: 1095px) {
    .container {
      padding: 0 50px; } }
  @media screen and (max-width: 767px) {
    .container {
      padding: 0 30px; } }
