@import "../fonts/fonts.css"

<<<<<<< HEAD
/* header-bottom */
=======
$container-width: 1080px
>>>>>>> eaab5d8ce6518bb67a9d2f4bee3a5cfdc4861db1

.header-bottom
	background: $bg-color url(../img/main-page-header-bg.jpg) no-repeat center top
	background-size: cover
	padding-top: 18px
	height: 746px
	position: relative

	@include media(767px)
		height: 100vh

	&__container
		position: relative
		height: 100%

	&__list
		display: flex


<<<<<<< HEAD
	&__item
		font-family: 'Verdana', sans-serif
		@include rem(14)
		color: $desc-color
		margin-right: 60px

		&:last-child
			margin-right: 0
			margin-left: auto

			@include media(767px)
				display: none

	&__link
		font-family: $title-font
		color: $title-color
		transition: color .3s

		@include media(1095px)
			display: none

		&:hover
			color: $link-hover-color

	&__title
		color: #231f20
		text-align: center
		max-width: 630px
		margin: 120px auto 0

		@include media(767px)
			max-width: 400px

	&:after
		content: ''
		width: 100%
		height: 34px
		display: block
		background: url(../img/zigzag-fill.png) repeat-x center
		position: absolute
		bottom: -19px
		left: 0

		@include media(767px)
			display: none


/* bottom-nav */

.bottom-nav
	position: absolute
	width: 100%
	bottom: 0
	left: 0

	@include media(767px)
		bottom: -133px
		margin-bottom: 133px

	&__list
		display: flex

		@include media(767px)
			display: block

	&__item
		width: 50%
		background: $acc-color
		color: #fff

		@include media(767px)
			width: 100%
		
	&__link
		padding: 30px
		display: flex
		transition: all .3s
		border-top: 5px solid transparent

		&:hover
			border-top: 5px solid $acc-color
			transform: translateY(-5px)

			.bottom-nav__icon
				fill: #29a592

		@include media(767px)
			padding: 20px 30px
			align-items: center

	&__item--darker
		background: $second-acc-color

		.bottom-nav__link
			&:hover
				border-top: 5px solid $second-acc-color

	&__title
		font-family: 'Tahoma Bold', sans-serif
		@include rem(20)
		line-height: 1.5
		max-width: 120px

		@include media(767px)
			@include rem(18)

	&__icon-wrap
		margin-left: auto
=======
.container
	width: $container-width
	padding: 0 15px
	margin: 0 auto
>>>>>>> eaab5d8ce6518bb67a9d2f4bee3a5cfdc4861db1
